<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            {% include 'common/base_navi.html' %}
            {% include 'common/login_buttons.html' %}
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            Imagine-a-Company
        </h1>
        <h2>Do whatever you want when you want to.</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        <div id="react-button"></div>
    </div>

</div>